<div class="header-main">
  <div class="left-aligned">
    <img src="assets/site-logo.svg" alt="">
    <img src="assets/site-name.svg" alt="">

    <img src="assets/back-icon.svg" alt="">
    <div class="display-inline white-color margin-8-px">Back</div>



  </div>

  <div class="right-aligned">
    <img src="assets/notification-icon.svg" alt="">
    <img src="assets/wallet-icon.svg" alt="">

    <img src="assets/profile-photo.svg" alt="">

    <div class="display-inline white-color margin-8-px">Milton Creator</div>


    </div>
</div>
